* {
    margin: 0;
    padding: 0;
}

.tong {

    display: flex;
    width: 100%;
    position: relative;
}

.khungin {

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 10px;
    width: 210mm;
    height: 265mm;
/*     border: 2px solid black; */
    background-color: rgb(255, 255, 255);
}

.center {
    justify-content: center;
}

.right {
    flex: 1;
    margin: 0 40px;
}

.up {
    z-index: 1000;
    width: 100%;
    position: absolute;
    background-color: gray;
    display: flex;
    justify-content: center;
}


.temt37 {
    font-size: 16px;
}

.tem {
    color: rgb(21, 21, 241);
}

.loai300 {
    text-align: center;
    width: 32mm;
    height: 12mm;
    border: 1px dotted black;
    background-color: white;
    margin: -0.5px;
}

.loai300 h3 {
    font-size: 15px;
}

.loai300 p {
    margin-top: 3px;
    font-size: 11px;
}

.loai250 {
    text-align: center;
    width: 28mm;
    height: 10mm;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px dashed black;
    background-color: white;
    margin: -0.5px;
}

.loai250 h3 {
    font-size: 12px;
}

.loai250 p {
    margin-top: 3px;
    font-size: 10px;
}

.loai200 {
    text-align: center;
    width: 24mm;
    height: 9.5mm;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px dashed black;
    background-color: white;
    margin: -0.5px;
}

.loai200 h3 {
    font-size: 11px;
}

.loai200 p {
    margin-top: 4px;
    font-size: 8.5px;

}
.loai150 {
    text-align: center;
    width: 24mm;
    height: 9.5mm;
    padding-left: 2px;
    padding-right: 2px;
    border: 0.1px dashed black;
    background-color: white;
    margin: -0.5px;
}

.loai150 h3 {
    font-size: 8px;
}

.loai150 p {
    margin-top: 2px;
    font-size: 6px;

}

label {
    display: block;
    padding-top: 10px;

}

.control {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.btn {
    padding: 10px 15px;
    border-radius: 5px;
    border: 0;
    font-weight: bold;
    color: white;

}

.btn1 {
    background-color: rgb(27, 83, 238);
}

.btn2 {
    background-color: rgb(238, 27, 27);
}

.btn3 {
    background-color: rgb(238, 189, 27);
}

.btn4 {
    background-color: rgb(0, 0, 0);
}

input {
    padding: 8px 8px;
    width: 85%;
}

.right h1 {
    text-align: center;
}

select {
    padding: 8px 8px;
    width: 90%;
}

.viewLable {
    margin-top: 50px;
}
